{% extends 'LibraryMainBundle:Book:showBooks.html.twig' %}

{% block button %}
    <a class="btn btn-primary" href="{{ path('remove_book', { 'id': book.id }) }}">Usun ksiazke</a>
{% endblock %}
{% block paginator %}
    <li>
        <a href="{{ path('show_removal') }}">&laquo;</a>
    </li>
    {% for i in page.paginator %}
        {% if i == page.pageNum %}
            <li class="active">
                <a href="{{ path('show_removal', {'page': i}) }}">{{ i }}</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('show_removal', {'page': i}) }}">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}
    <li>
        <a href=" {{ path('show_removal', {'page': page.maxPage}) }} ">&raquo;</a>
    </li>
{% endblock %}