{% extends '::base.html.twig' %}

{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=" {{ path('homepage') }} ">Strona glowna</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('show_books') }}">Lista ksiazek</a>
                    </li>
                    <li>
                        <a href="{{ path('find_books') }}">Wyszukaj</a>
                    </li>
                    {% if app.user is not empty %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ustawienia <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_profile_edit') }}">Konto</a>
                                </li>
                                <li>
                                    <a href="{{ path('show_library_card') }}">Wypozyczone ksiazki</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Zaloguj</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">Zarejestruj sie</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('sonata_admin_dashboard') }}">Administracja</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
                
    <div class="my-image">
        <img src="http://i.imgur.com/H8OR44i.jpg" />
    
    <div id ="myBody">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Your Website 2014</p>
            </div>
        </div>
    </footer>
{% endblock %}